<footer class="footer fixed-bottom">
    <div class="container">
      <p class="text-muted">&copy; ITIMS 2021 | <a href="/">Home</a> | <a href="/">Search</a></p>
    </div>
  </footer>
  </body>
</html>