<!DOCTYPE html>
<html>
  <html lang="en"></html>
  <head>
    <title>ITIMS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
  </head>
  <body style="padding-top: 70px;">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">ITIMS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/"><i class="bi bi-archive"> Home</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/assets/create"><i class="bi bi-bag-plus"> Add</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/assets"><i class="bi bi-search"> Search</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/assets/metrics"><i class="bi bi-graph-up"> Metrics</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/assets/export"><i class="bi bi-cloud-download"> Export</i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>