<% include ./partials/header %>
<div class="row"></div>
  <div class="card col-sm-6 mx-auto">
    <div class="card-header">
      <h2>Welcome to ITIMS</h2>
    </div>
    <div class="card-body">
      <h5>An Open-Source IT Inventory Managment System</h5>
      <br />
      <p><b>Product Roadmap</b></p>
      <ul>
        <li>Add searchable table</li>
        <li>Add more Metrics</li>
      </ul>
    </div>
  </div>
</div>
<% include ./partials/footer %>
