<% include ../partials/header %>
<div class="row"></div>
  <div class="card col-sm-6 mx-auto" style="padding: 1rem;">
      <h2>Export to Excel</h2>
      <div class="mb-3" style="padding: 1rem;">
        <form action="/download" method="get">
          <button class="btn btn-primary">Export</button></td>
        </form>
      </div>
      
    </div>
  </div>
<% include ../partials/header %>